<app-header titulo="ChipsPage"></app-header>

<ion-content [fullscreen]="true">

  <ion-chip>
    Soy un chip
  </ion-chip>
  <ion-chip disabled="true">
    deshabilitado
  </ion-chip>

  <ion-chip outline="true">
    outline
  </ion-chip>

  <ion-chip>
    <ion-avatar>
      <img src="https://imgs.search.brave.com/DSn4snWB-BxiTxzjTcL5KEN6CYJAoibk-iZDqi8K-JI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZXVyb3BhcHJlc3Mu/ZXMvZm90b3dlYi9m/b3Rvbm90aWNpYV8y/MDE4MTIyMTE3NTMx/M182NDAuanBn">
    </ion-avatar>

    <ion-label>Mate a unos ninios</ion-label>
  </ion-chip>

  <ion-chip color="succes">we</ion-chip>
  <ion-chip color="danger">we</ion-chip>
  <ion-chip color="purple">we</ion-chip>
  
</ion-content>
