<app-header titulo="AlertsPage"></app-header>

<ion-content [fullscreen]="">

  <ion-button (click)="openAlert()" expand="full" color="tertiary"
  class="ion-margin-top"> Open Alert</ion-button>

  <ion-button (click)="openAlert2()" expand="full" color="tertiary"
  class="ion-margin-top"> Cabezon</ion-button>

  <ion-button (click)="login()" expand="full" color="tertiary"
  class="ion-margin-top"> Login now! </ion-button>

  <ion-button (click)="select()" expand="full" color="tertiary"
  class="ion-margin-top"> Elije tu musica favorita </ion-button>

  <ion-button (click)="registro()" expand="full" color="tertiary"
  class="ion-margin-top"> Registrate Cabezon </ion-button>

</ion-content>